<link rel = "stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<footer class="site-footer h-card">
    <div class="footer-col-1"><ul class="social-media-list">
        <li><a href="{{ site.wattpad }}"><img src = "{{ site.baseurl }}/assets/images/wattpad.png" class = "social-icon"></a></li>
        <li><a href = "{{ site.ao3 }}"><img src = "{{ site.baseurl }}/assets/images/ao3.png" class = "social-icon"></a></li>
        <li><a href = "{{ site.substack }}"><img src = "{{ site.baseurl }}/assets/images/substack.png" class = "social-icon"></a></li>
    </ul>
    </div>
        <div class="footer-col-2">
            <p class="footer-note">By {{ site.author }} &copy; All rights reserve  </p>
            <p class="footer-note">Click on those links for further writing prowess</p> 
        </div>
    </div>


</footer>