<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<header role="banner">
<title>{{ page.title }} | {{ site.title }}</title>

<link rel = "stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<div class = "logo">
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}{{ site.logo }}" alt="Site Logo" />
</div>
<div class = headline>
    <h1> Anthologies, Niche, Lore & Conspiracies</h1>
</div>

<div class = "nav">
    <nav>
        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/about">About</a> |
    </nav>
</div>
</header>

