.image{
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
}

.headline{
    text-align: center;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(18, 20, 135);
}

.sidebar{
    text-align: right;
    text-decoration: none;   
    display: block;
    color:brown;
    width: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    margin-left: 10%;
}

.social-media-list{
    list-style-type: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.social-icons{
    align-items: center;
    gap: 10px;
}

.footer-col-1{
    display: flex;
    align-items: center;
    gap: 15%;
}

.footer-note{
    font-size: 0.8em;
    color: rgb(240, 13, 13);
    font-style: italic;
    text-align: center;
    margin: 0.25rem 0;
}

.post-list{
    list-style-type: none;
    padding: 5%;
}


.post-link{
    text-decoration: none;
    color: rgb(43, 28, 61);
    font-size: large;
    font-weight: bold;
}

.post-header{
    display: block;
    padding: 2%;
}

.post-content{
    padding: 5%;
}
