---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <li class="post-list">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      {%- assign postsByMonth = 
      site.posts | group_by_exp:"post", "post.date | date: '%B %Y'" -%}
      {%- for month in postsByMonth -%}
        <h3> {{month.name}} {{month.year}}</h3>
        <li> {%- for post in month.items -%}  
          <li>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </li>
      {%- endfor -%}
    </li>
    {%- endfor -%}
  {%- endif -%}
</div>
